<div class="add-new-popup" [class.rtl-enabled]="themeService.isRTLEnabled()">
  <div class="popup-dialog">
    <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
      <mat-card-header>
        <mat-card-title>
          <h5 class="mb-0">{{form_title}}</h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button mat-button (click)="close_dialog(null)">
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <form [formGroup]="entity_formgroup">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <app-lite-box [formGroup]="entity_formgroup" field="companyid" Caption="companyid" [Isnum]="'text'" [IsReq]="false" [maxLen]="20"></app-lite-box>
              </div>
              <div class="col-md-4 col-sm-6">
                <app-lite-box [formGroup]="entity_formgroup" field="projectname" Caption="projectname" [Isnum]="'text'" [IsReq]="false" [maxLen]="20"></app-lite-box>
              </div>
              <div class="col-md-4 col-sm-6">
                <app-lite-box [formGroup]="entity_formgroup" field="alias" Caption="alias" [Isnum]="'text'" [IsReq]="false" [maxLen]="20"></app-lite-box>
              </div>
              <div class="col-md-4 col-sm-6">
                <app-lite-box [formGroup]="entity_formgroup" field="profile_image" Caption="profile_image" [Isnum]="'text'" [IsReq]="false" [maxLen]="20"></app-lite-box>
              </div>
              <div class="col-md-4 col-sm-6">
                <app-lite-box [formGroup]="entity_formgroup" field="details" Caption="details" [Isnum]="'text'" [IsReq]="false" [maxLen]="20"></app-lite-box>
              </div>
              <div class="col-md-4 col-sm-6">
                <app-lite-box [formGroup]="entity_formgroup" field="startdate" Caption="startdate" [Isnum]="'text'" [IsReq]="false" [maxLen]="20"></app-lite-box>
              </div>
              <div class="col-md-4 col-sm-6">
                <app-lite-box [formGroup]="entity_formgroup" field="enddate" Caption="enddate" [Isnum]="'text'" [IsReq]="false" [maxLen]="20"></app-lite-box>
              </div>
              <div class="col-md-4 col-sm-6">
                <app-lite-box [formGroup]="entity_formgroup" field="status" Caption="status" [Isnum]="'text'" [IsReq]="false" [maxLen]="20"></app-lite-box>
              </div>
              <!-- Left Side: Company Details -->
            </div>
            <!-- Buttons Section -->
            <div class="btn-box">
              <button mat-flat-button color="primary" class="me-2" [disabled]="!entity_formgroup.valid" (click)="formsubmit()">Save</button>
              <button mat-flat-button color="warn" (click)="close_dialog(null)">Cancel</button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
