<div [formGroup]="formGroup" class="mb-25">
  <label class="main-label d-block lh-1 text-black mb-5">
    {{Caption}}&nbsp;<span style="color:red" title="required" *ngIf="IsReq">*</span>
  </label>
  <mat-form-field>
    <textarea matInput
              #textarea
              [id]="field"
              [name]="field"
              [formControlName]="field"
              [rows]="rows"
              [placeholder]="placeholder"
              [required]="IsReq"
              (input)="autoGrow(textarea)"
              (blur)="smartTextBlur($event)"
              [maxlength]="maxLen">
    </textarea>

    <mat-error *ngIf="IsReq && hasError('required')">
      {{ Caption }} is required.
    </mat-error>

    <mat-error *ngIf="IsPattern && hasError('pattern')">
      {{ pattern_msg }}
    </mat-error>

    <mat-error *ngIf="max_min_msg && hasError('maxminlength')">
      {{ max_min_msg }}
    </mat-error>
  </mat-form-field>
</div>
